@media (max-width: 1200px) {
    .header {
        &__burger {
            display: block;
        }

        &__nav {
            display: none;
        }

        .white-btn {
            &.desktop {
                display: none;
            }

            &.mobile {
                display: inline-block;
            }
        }
    }

    .main-hero {
        &__list {
            align-items: start;
            flex-direction: column;
        }
    }

    .container {
        padding-left: 16px;
        padding-right: 16px;
    }

    .main-why {
        &__list {
            grid-template-columns: 1fr 1fr;
        }

        &__item {
            &.exp {
                grid-column: initial;
                grid-row: initial;
            }

            &.comp {
                grid-column: initial;
                grid-row: initial;
            }

            &.nat {
                grid-column: initial;
                grid-row: initial;
            }

            &.res {
                grid-column: initial;
                grid-row: initial;
            }
        }

        &__image {
            grid-column: span 2;
            grid-row: initial;
            margin: 0;
        }
    }

    .main-about {
        &__bottom {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }

        &__logo {
            grid-column: span 2;
            margin: auto;
        }
    }
}