@media (max-width: 768px) {
    .main-why {
        &__list {
            display: flex;
            flex-direction: column;
        }

        &__image {
            grid-column: initial;
        }
    }

    .main-about {
        &__top {
            display: flex;
            flex-direction: column-reverse;
        }

        &__bottom {
            display: flex;
            flex-direction: column;
        }

        &__logo {
            grid-column: initial;
        }
    }

    .main-platform {
        &__item {
            &.mt {
                .main-platform__btns {
                    max-width: 320px;
                    display: flex;
                    flex-direction: column;
                }
            }
        }

        &__btns {
            max-width: 320px;
            display: flex;
            flex-direction: column;
        }
    }
}