@media (min-width: 1200px) {
    .header {
        .menu {
            &>.menu-item {
                &>a {
                    &:hover {
                        color: var(--green);
                    }
                }
            }
        }

        &.scrolled {
            .header__logo {
                cursor: pointer;

                &:hover {
                    path {
                        fill: var(--green);
                    }
                }
            }
        }
    }

    .white-btn,
    .green-btn {
        &:hover {
            &::before {
                opacity: 1;
            }
        }
    }

    .main-analytics {
        &__btn {
            &:not(.swiper-slide-thumb-active) {
                cursor: pointer;

                &:hover {
                    color: var(--green);
                }
            }
        }
    }

    .footer {
        .menu {
            &>.menu-item {
                &>a {
                    &:hover {
                        color: var(--green);
                    }
                }
            }
        }

        &__docs {
            a {
                &:hover {
                    color: var(--green);
                }
            }
        }

        &__contact {
            &:not(.footer__address) {
                &:hover {
                    color: var(--green);

                    svg {
                        background: var(--green);
                    }
                }
            }
        }
    }

    .main-platform {
        &__item {
            &:has(.white-btn:hover) {
                box-shadow: 0px 0px 100px -70px var(--green);
            }
        }
    }

    .main-types {
        &__item {
            transition: var(--transition);

            &:has(.white-btn:hover) {
                box-shadow: 0px 0px 100px -70px var(--green);
            }
        }
    }

    .form-fixed {
        &__close {
            &:hover {
                path {
                    fill: var(--green);
                }
            }
        }
    }
}